In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import random
import streamlit as st

In [2]:
df=pd.read_csv("15_variant.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9000 entries, 0 to 8999
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            9000 non-null   int64
 1   ProductID             8660 non-null   float64
 2   ProductCategory       8924 non-null   object
 3   ProductBrand          8652 non-null   object
 4   ProductPrice          8954 non-null   float64
 5   CustomerAge           8742 non-null   float64
 6   CustomerGender        8888 non-null   float64
 7   PurchaseFrequency     8729 non-null   float64
 8   CustomerSatisfaction  8654 non-null   float64
 9   PurchaseIntent        8643 non-null   float64
dtypes: float64(7), int64(1), object(2)
memory usage: 703.3+ KB

In [3]:
df.head(20)

,Unnamed: 0,ProductID,ProductCategory,ProductBrand,ProductPrice,CustomerAge,CustomerGender,PurchaseFrequency,CustomerSatisfaction,PurchaseIntent
0,0,5874.0,Smartphones,Other Brands,312.949668,18.0,0.0,2.0,1.0,0.0
1,1,5875.0,Smart Watches,Samsung,980.389404,35.0,1.0,7.0,2.0,1.0
2,2,5876.0,Tablets,Samsung,2606.718293,63.0,0.0,1.0,5.0,1.0
3,3,5877.0,Smartphones,Samsung,870.395450,63.0,1.0,10.0,3.0,1.0
4,4,5878.0,Tablets,Sony,1798.955875,57.0,0.0,17.0,3.0,0.0
5,5,5879.0,Smartphones,Samsung,373.148325,37.0,1.0,NaN,1.0,1.0
6,6,5880.0,Smartphones,Samsung,2330.036775,26.0,1.0,5.0,5.0,1.0
7,7,5881.0,Smartphones,HP,780.101494,35.0,0.0,12.0,5.0,1.0
8,8,5882.0,Laptops,Other Brands,2264.561583,19.0,1.0,3.0,4.0,1.0
9,9,5883.0,Laptops,HP,1001.624006,66.0,1.0,8.0,4.0,1.0
10,10,5884.0,Smartphones,Other Brands,879.122368,20.0,1.0,1.0,NaN,0.0
11,11,5885.0,Laptops,Apple,1563.857732,38.0,1.0,14.0,2.0,1.0
12,12,5886.0,Tablets,Samsung,1297.366932,48.0,0.0,1.0,3.0,0.0
13,13,5887.0,Headphones,Sony,1756.838309,62.0,0.0,2.0,5.0,1.0
14,14,5888.0,Headphones,Apple,2486.693287,54.0,0.0,12.0,4.0,1.0
15,15,5889.0,Tablets,HP,1280.456081,33.0,0.0,1.0,2.0,0.0
16,16,5890.0,Tablets,Samsung,2388.495395,29.0,1.0,3.0,4.0,1.0
17,17,5891.0,Smartphones,Apple,420.779821,26.0,0.0,16.0,1.0,0.0
18,18,5892.0,Tablets,Apple,1224.174678,28.0,0.0,4.0,5.0,0.0
19,19,5893.0,Smart Watches,Samsung,2441.432737,43.0,0.0,5.0,5.0,1.0

In [4]:
df["PurchaseFrequency"] = df["PurchaseFrequency"].apply(lambda x: np.random.choice([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0]) if pd.isna(x) else x)

In [5]:
df["PurchaseIntent"] = df["PurchaseIntent"].apply(lambda x: np.random.choice([0.0, 1.0]) if pd.isna(x) else x)

In [6]:
df["CustomerSatisfaction"] = df["CustomerSatisfaction"].apply(lambda x: np.random.choice([1.0, 2.0, 3.0, 4.0, 5.0 ]) if pd.isna(x) else x)

In [7]:
df["CustomerGender"] = df["CustomerGender"].apply(lambda x: np.random.choice([0.0, 1.0]) if pd.isna(x) else x)

In [8]:
data = list(range(5874, 14874))
df["ProductID"]= pd.DataFrame(data, columns=['Ustun'])

In [9]:
df["ProductCategory"].fillna(df["ProductCategory"].mode().iloc[0], inplace=True)

C:\Users\Nurbek\AppData\Local\Temp\ipykernel_15520\2569890390.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["ProductCategory"].fillna(df["ProductCategory"].mode().iloc[0], inplace=True)

In [10]:
df["ProductBrand"].fillna(df["ProductBrand"].mode().iloc[0], inplace=True)

C:\Users\Nurbek\AppData\Local\Temp\ipykernel_15520\865927163.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["ProductBrand"].fillna(df["ProductBrand"].mode().iloc[0], inplace=True)

In [11]:
df["ProductPrice"].fillna(df["ProductPrice"].median(), inplace=True)

C:\Users\Nurbek\AppData\Local\Temp\ipykernel_15520\1668144070.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["ProductPrice"].fillna(df["ProductPrice"].median(), inplace=True)

In [12]:
df["CustomerAge"].fillna(df["CustomerAge"].median(), inplace=True)

C:\Users\Nurbek\AppData\Local\Temp\ipykernel_15520\703828927.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["CustomerAge"].fillna(df["CustomerAge"].median(), inplace=True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9000 entries, 0 to 8999
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            9000 non-null   int64
 1   ProductID             9000 non-null   int64
 2   ProductCategory       9000 non-null   object
 3   ProductBrand          9000 non-null   object
 4   ProductPrice          9000 non-null   float64
 5   CustomerAge           9000 non-null   float64
 6   CustomerGender        9000 non-null   float64
 7   PurchaseFrequency     9000 non-null   float64
 8   CustomerSatisfaction  9000 non-null   float64
 9   PurchaseIntent        9000 non-null   float64
dtypes: float64(6), int64(2), object(2)
memory usage: 703.3+ KB

In [14]:
df.head(20)

,Unnamed: 0,ProductID,ProductCategory,ProductBrand,ProductPrice,CustomerAge,CustomerGender,PurchaseFrequency,CustomerSatisfaction,PurchaseIntent
0,0,5874,Smartphones,Other Brands,312.949668,18.0,0.0,2.0,1.0,0.0
1,1,5875,Smart Watches,Samsung,980.389404,35.0,1.0,7.0,2.0,1.0
2,2,5876,Tablets,Samsung,2606.718293,63.0,0.0,1.0,5.0,1.0
3,3,5877,Smartphones,Samsung,870.395450,63.0,1.0,10.0,3.0,1.0
4,4,5878,Tablets,Sony,1798.955875,57.0,0.0,17.0,3.0,0.0
5,5,5879,Smartphones,Samsung,373.148325,37.0,1.0,13.0,1.0,1.0
6,6,5880,Smartphones,Samsung,2330.036775,26.0,1.0,5.0,5.0,1.0
7,7,5881,Smartphones,HP,780.101494,35.0,0.0,12.0,5.0,1.0
8,8,5882,Laptops,Other Brands,2264.561583,19.0,1.0,3.0,4.0,1.0
9,9,5883,Laptops,HP,1001.624006,66.0,1.0,8.0,4.0,1.0
10,10,5884,Smartphones,Other Brands,879.122368,20.0,1.0,1.0,2.0,0.0
11,11,5885,Laptops,Apple,1563.857732,38.0,1.0,14.0,2.0,1.0
12,12,5886,Tablets,Samsung,1297.366932,48.0,0.0,1.0,3.0,0.0
13,13,5887,Headphones,Sony,1756.838309,62.0,0.0,2.0,5.0,1.0
14,14,5888,Headphones,Apple,2486.693287,54.0,0.0,12.0,4.0,1.0
15,15,5889,Tablets,HP,1280.456081,33.0,0.0,1.0,2.0,0.0
16,16,5890,Tablets,Samsung,2388.495395,29.0,1.0,3.0,4.0,1.0
17,17,5891,Smartphones,Apple,420.779821,26.0,0.0,16.0,1.0,0.0
18,18,5892,Tablets,Apple,1224.174678,28.0,0.0,4.0,5.0,0.0
19,19,5893,Smart Watches,Samsung,2441.432737,43.0,0.0,5.0,5.0,1.0

In [16]:
df[df["CustomerGender"]==1.0].shape

(4589, 10)